<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- Spring管理Dao -->
	<bean name="baseDao" class="com.joyin.ticm.dao.impl.BaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean name="userDao" class="com.joyin.ticm.user.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 角色 Dao -->
	<bean name="roleDao" class="com.joyin.ticm.role.dao.impl.RoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 模块 Dao -->
	<bean name="moduleDao" class="com.joyin.ticm.module.dao.impl.ModuleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 角色权限 Dao -->
	<bean name="rolePermitDao" class="com.joyin.ticm.rolepermit.dao.impl.RolePermitDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean name="organDao" class="com.joyin.ticm.organ.dao.impl.OrganDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 数据字典 Dao -->
	<bean name="dataDictDao" class="com.joyin.ticm.datadict.dao.impl.DataDictDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>
